:root {
  --primary: #f77754;
  --small: #ffbc80;
  --medium: #ff9f45;
  --large: #f76e11;
  --light: #eee;
  --dark: #313154;
  --gray: #888;
  --danger: #f32424;
  --red: #e00101;
  --aiubBlue: #034ea1;
  --darkestBlue2: #005891;
  --darkestBlue: #034ea1;
  --darkBlue: #345cb1;
  --blue: #2f79ce;
  --lightBlue: #5393f4;
  --lighterBlue: #73c2fd;
  --lightestBlue: #b8e4fa;

  --greenS: rgb(130, 205, 72);
  --greenM: rgb(85, 180, 54);
  --greenL: rgb(56, 146, 56);
  --highLighter: rgb(191, 191, 191);

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --small-glow: 0px 0px 4px rgba(255, 188, 128, 0.75);
  --medium-glow: 0px 0px 4px rgba(255, 159, 69, 0.75);
  --large-glow: 0px 0px 4px rgb(247, 110, 17, 0.75);
  --greenS-glow: 0px 0px 4px rgba(130, 205, 72, 0.75);
  --greenM-glow: 0px 0px 4px rgba(85, 180, 54, 0.75);
  --greenL-glow: 0px 0px 4px rgba(56, 146, 56, 0.75);

  --aiubBlue-glow: 0px 0px 4px rgba(3, 76, 160, 0.75);
  --blue-glow: 0px 0px 4px rgba(46, 122, 209, 0.75);
  --lighterBlue-glow: 0px 0px 4px rgba(114, 193, 253, 0.75);
  --darkBlue-glow: 0px 0px 4px rgba(52, 92, 178, 0.75);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

body {
  background: var(--light);
  color: var(--dark);
}

section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h3 {
  color: var(--dark);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

h4 {
  color: var(--gray);
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.overlay.active {
  display: flex;
}

.alert {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9999;
  max-width: 380px;
  width: 100%;
  border-radius: 24px;
  background-color: #fff;
  padding: 30px 20px;
  transform: translate(-50%, -50%);
  box-shadow: var(--shadow);
}

.alert.active {
  display: flex;
}

.ok {
  font-size: 1.125rem;
  color: #eee;
  font-weight: 600;
  margin-top: 1rem;
  background-color: var(--medium);
  box-shadow: var(--shadow);
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.ok:hover {
  opacity: 0.75;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  opacity: 1;
  border-radius: 25%;
  border: 3.5px solid var(--lighterBlue);
  box-shadow: var(--lighterBlue-glow);
}

.sub.done .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 25%;
  border: 3.5px solid var(--aiubBlue);
  border-color: var(--aiubBlue);
  box-shadow: var(--aiubBlue-glow);
}

.sub.done .checkbox::after {
  content: "";
  display: block;
  opacity: 1;
  width: 10px;
  height: 10px;
  background-color: var(--aiubBlue);
  box-shadow: var(--aiubBlue-glow);
  border-radius: 25%;
  transition: 0.2s ease-in-out;
}

.search {
  display: flex;
  /* margin: 1rem; */
}
::placeholder {
  color: #999; /* Adjust the color as needed */
  padding-left: 0.25rem;
}

.search input[type="text"] {
  display: block;
  width: 90%;
  height: auto;
  font-size: 0.95rem;
  text-transform: uppercase;
  padding: 1rem;
  padding-left: 1rem;
  color: var(--gray);
  background-color: #fff;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  resize: none;
  margin-top: 2rem;
  margin-left: 1rem;
  /* margin-bottom: 1rem; */
}

.search #add {
  display: block;
  width: 7rem;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 1rem 1.125rem;
  color: #fff;
  background-color: var(--aiubBlue);
  border-radius: 0.5rem;
  box-shadow: var(--aiubBlue-glow);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-right: 1rem;
}

.search #add:hover {
  opacity: 0.75;
}

#suggestionList.active {
  display: block;
}

#suggestionList {
  display: none;
  width: 89%;
  height: 7.05rem;
  overflow: auto;
  font-size: 1.125rem;
  /* padding: 1rem; */
  color: var(--dark);
  background-color: #e2e2e2;
  border-radius: 0.5rem;
  list-style-type: disc;
  margin-top: 2rem;
  margin-left: 1.25rem;
  /* margin-right: 2rem; */
  /* margin-left: 6rem; */
}

#suggestionList li {
  cursor: pointer;
  font-size: 1rem;
  margin-left: 2.5rem;
  padding-top: 10px;
  padding-bottom: 6px;
}

#suggestionList li:hover {
  color: var(--blue);
  font-size: 1.15rem;
  font-weight: 600;
}

.info.unactive {
  display: none;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.info .completedSection,
.info .availableSection {
  flex: 1; /* Equal flex distribution */
  margin: 1rem;
}

.info .availableSection {
  order: -1; /* Set order to -1 to move it to the top by default */
}
@media (min-width: 768px) {
  .info .completedSection,
  .info .availableSection {
    width: 100%; /* Reset width to half on larger screens */
  }

  .info .availableSection {
    order: 0; /* Reset order to 0 to move it to the right on larger screens */
  }
}

.info .completedSection {
  display: block;
  width: 47%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.info .completed {
  display: block;
  width: 100%;
  /* height: 100%; */
  /* overflow: auto; */
  font-size: 1.125rem;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  color: var(--dark);
  background-color: rgb(214, 212, 212);
  border-radius: 0.5rem;
}

.info .completedSection .completedTitle {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--dark);
  text-align: center;
  /* background-color: #d94f4f; */
  margin-top: 2rem;
  /* margin-left: 2rem; */
}

.info .completedSection #creditCompleted {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--red);
  text-align: center;
  /* background-color: #d94f4f; */
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.info .availableSection {
  display: block;
  width: 47%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.info .available {
  display: block;
  width: 100%;
  /* height: 100%; */
  /* overflow: auto; */
  font-size: 1.125rem;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  color: var(--dark);
  background-color: rgb(214, 212, 212);
  border-radius: 0.5rem;
}

.info .availableSection .availableTitle {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--dark);
  text-align: center;
  /* background-color: #d94f4f; */
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.info .availableSection #creditTaken {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--red);
  text-align: center;
  /* background-color: #d94f4f; */
  margin-top: 2rem;
  /* margin-left: 2rem; */
}

.emptyTitle {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.75rem;
  color: #aaa9a9;
  margin-top: 1rem;

  /* padding-top: 1rem; */
}

.sub {
  display: flex;
  align-items: center;
  background-color: #fff;
  background: var(--light);
  /* color: var(--dark); */
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.sub label {
  display: block;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.sub .content {
  flex: 1 1 0%;
  width: 60%;
}

.sub .content ul {
  width: 95%;
  height: auto;
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--dark);
  font-size: 1rem;
  cursor: pointer;
}

.sub .credit {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--aiubBlue);
  margin-right: 0.5rem;
}
.sub .actions {
  display: flex;
  align-items: center;
}

.sub .actions button {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  opacity: 0.5;
}

.sub .actions button:hover {
  opacity: 1;
}

.sub .actions .delete {
  font-size: 1.25rem;
  color: var(--darkestBlue);
}
